
<div class="p-4 p-md-5 mb-4 rounded justify-content-center text-body-emphasis">
    <div class="col-lg-6 px-0">
      <h1 class="display-4 text-primary fst-italic bg-image">Welcome to the Gossip Project !</h1>
      <p class="lead my-3">Le lieu de tous les potins qui concernent tes camarades de THP.</p>
      <p class="lead text-primary mb-0"><a href="https://www.thehackingproject.org/?locale=fr" target="blank" class=" fw-bold">The Hacking Project</a></p>
    </div>
  </div>

<div class="new_gossip_link">

<form action="/gossips" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  Quel est ton nom ?</br></br>
  <input type="text" name="first_name"/></br></br>
  <input type="submit" name="Valider"></br></br></br></br></br>
<p><%= link_to "Créer un nouveau gossip", new_gossip_path, class: "link_gossip mb-0 fw-bold" %></p>
<p><%= link_to "Afficher tous les gossips", gossips_path, class: "link_gossip mb-0 fw-bold" %></p>
</form>

</div>

