<h1>StaticPages#new_gossip</h1>
<p>Find me in app/views/static_pages/new_gossip.html.erb</p>

<form action="/new_gossip" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  Qui es-tu?</br></br>
  <input type="text" name="author"/></br></br>
  Quel est le titre?</br></br>
  <input type="text" name="title"/></br></br>
  Que veux-tu nous raconter?</br></br>
  <input type="text" name="content"/></br></br>
  <input type="submit" name="Valider">
</form>

<h3>fdsfds <%= @gossip_content %> </h3>