<h1>MEET THE TEAM</h1>
<p>Great work requires great people, and we think ours are some of the best.</p>
<p>We’re a creative, friendly and diverse bunch, who truly enjoy what we do and the people we work with. Our team spirit, expertise and perspective helps us create solutions that go far beyond just a good idea.</p>

<a href="lien github">First member</a>
<a href="lien github">Second member</a>
<a href="lien github">Third member</a>
<a href="lien github">Forth member</a>
